@import "reset";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ededed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(15,32,39,1);
  background: -moz-linear-gradient(-45deg, rgba(15,32,39,1) 0%, rgba(44,83,100,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15,32,39,1)), color-stop(100%, rgba(44,83,100,1)));
  background: -webkit-linear-gradient(-45deg, rgba(15,32,39,1) 0%, rgba(44,83,100,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(15,32,39,1) 0%, rgba(44,83,100,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(15,32,39,1) 0%, rgba(44,83,100,1) 100%);
  background: linear-gradient(135deg, rgba(15,32,39,1) 0%, rgba(44,83,100,1) 100%);
}

.app-container {
  width: 100%;
  width: 100vw;
  background: #fff;
  max-width: 1400px;
  min-height: calc(100vh - 15vh);
  border-radius: 5px;
  display: grid;
  grid-template-areas: 'header header header header header header' 'left middle middle middle middle right';
  grid-gap: 10px;

  #header {
    grid-area: header;
    position: relative;
    height: 170px;
    padding: 2rem 0;
    width: 1400px;
    background: linear-gradient(rgba(27,52,63,0.41), #050708) 0 0/cover,url(/img/background-main.jpg) center center no-repeat fixed;
    background-size: cover;

    .header-logo {
      text-align: center;

      img {
        max-width: 100px;
      }
    }
    // h1{
    //   color: #f9f3f5;
    //       font-size: 5em;
    //       text-shadow: #333533 4px 4px 2px;
    //       text-align: center;
    //       letter-spacing: 5px;
    //         background: rgba(255, 255, 255, 0.15);
    // }
    .account-section {
      text-align: right;

      span {
        padding: 25px;
        color: white;
      }
    }

    .sport-icons {
      display: none;
      background: #ffffff8a;
      padding: 20px;
      position: absolute;
      width: 100%;
      bottom: 0;

      .sports-group {
        display: flex;
        justify-content: center;

        img {
          width: 50px;
          height: 50px;
          margin-right: 10rem;
        }
      }
    }
  }

  #nav {
    grid-area: left;
    padding: 10px;

    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      padding: 15px 5px;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(204,196,196,1);
-moz-box-shadow: 0px 0px 15px -3px rgba(204,196,196,1);
box-shadow: 0px 0px 15px -3px rgba(204,196,196,1);

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .fab {
          font-size: 2rem;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-chevron-down {
          font-size: 0.8rem;
        }
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      margin-top: 3rem;

      .nav-links {
        width: 100%;
        text-align: center;
        border: 1px solid #f3f3f3;
        -webkit-box-shadow: 0px 0px 15px -3px rgba(224,220,220,1);
-moz-box-shadow: 0px 0px 15px -3px rgba(224,220,220,1);
box-shadow: 0px 0px 15px -3px rgba(224,220,220,1);

        &:hover {
          background: #f3f3f3;
        }

        a {
          text-decoration: none;
          color: #353232;
          display: block;
          line-height: 4;
          letter-spacing: 2px;

          &:hover {
            color: orange;
          }
        }
      }
    }
  }

  #nfl-section {
    grid-area: middle;
    background: #ededed;
    border-left: 1px solid #e2d6d6;
    overflow:hidden;

    .games-section {
      .title-headers {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 0.7em;
        margin-bottom: 0.5rem;
        background: #1d3945;
        color: white;
        padding: 3px;

        .game-header {
          flex: 3;
        }

        .spread-header {
          flex: 1;
        }

        .moneyline-header {
          flex: 1;
        }

        .overunder-header {
          flex: 1;
        }
      }

      .games-container {
        position:relative;
        background: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 15px -3px rgba(82,82,82,1);
        -moz-box-shadow: 0px 0px 15px -3px rgba(82,82,82,1);
        box-shadow: 0px 0px 15px -3px rgba(82,82,82,1);
        &:hover {
          background: #b8d8e6;
        }
        .match-time{
          position:absolute;
          top: 20%;
          left:10px;
          background: #dde7ea;
          border-radius: 3px;
          h5{
            font-size:.7em;
            width:70px;
            padding:5px;
          }
        }

        .gamelist {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          color: #4e4343;

          .games {
            display: flex;
            justify-content: center;

            h5 {
              font-size: 0.8em;
              padding: 7px;

            }
          }


          .teams {
            flex: 3;

            .hometeam {
              border-bottom: 1px solid #e6dcdc;
            }
          }

          .spread,.moneyline,.total {
            border: 1px solid #e6dcdc;
            flex: 1;
            text-align: center;
            font-size: 0.8em;
            padding: 7px;
          }
        }
      }
    }
  }

  #game-selected {
    grid-area: right;
    background: #e4e0e0;

    h1 {
      color: #ffffff;
      background: #2a3e46;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 300;
      padding:5px 0;
    }



.game-selected-container{
  background:white;
  padding:15px;
  margin-bottom:2rem;
  position:relative;
  .close-btn{
    position:absolute;
    top: 49px;
  right: 11px;
  cursor:pointer;
  img{
    width:30px;
    height:30px;

  }
  }
  .bet-container{
      margin-bottom:.5rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

    .bet-chosen{
      display:flex;
      flex-direction:column;

      .teamChozen{
        font-weight:700;
        margin-right:5px;
        text-transform: capitalize;
      }

    }
    .wager-type{
      font-weight:300;
      font-size:.8em;
      text-transform: capitalize;
    }
  }
  .match-container{
    display:flex;
    flex-direction:column;
    .game{
      color: #406371;
    font-size: .8em;
    }
    .match-time{
      font-size:.7em;
      font-weight:300;
      color:gray;

    }
  }
  .wager-amount{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:1rem 0;
    .group-risk{
      position:relative;


      input[type="number"]{
      color: #162b3d;
      height: 30px;
        width: 150px;
      border-radius: 5px;
      text-align: left;
      padding-left:50px;
      font-weight:600;

      }
      span{
      position: absolute;
      top: 8px;
      left: 11px;
      color: #8c9194;
      font-size: .6em;
      }
    }
    .group-winbox{
            text-align: right;
              position:relative;
                padding:1px 0;
                border: 1px solid #9e9595;
          background: #f2f2f2;
          height: 30px;
          width: 150px;

                    border-radius: 5px;
      h5{
        color: #162b3d;
        font-size:.9em;
        position:relative;
        top: 7px;
        right: 33px;
              font-weight:600;



      }
      span{
        position: absolute;
        top: 8px;
        left: 11px;
        color: #8c9194;
        font-size: .6em;

      }
    }


  }

}

.wager-confirmation-container{
  background: #162b3d;
color: #d6d6d6;
padding:15px;
  .confirmation-group{
    display:flex;
    justify-content: space-between;
    margin-bottom:.5rem;
  }
  button{
    background: #406371;
    font-size: 1rem;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    margin-bottom: 1rem;
    border-radius: 3px;
    margin-top: 1rem;
    -webkit-box-shadow: 0px 16px 52px -21px rgba(84,136,143,1);
-moz-box-shadow: 0px 16px 52px -21px rgba(84,136,143,1);
box-shadow: 0px 16px 52px -21px rgba(84,136,143,1);
    &:hover{
      background:#45798e;
    }
  }
}

  }
}
